/* Font */
@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff")
      format("woff");
}

@font-face {
  font-family: "EliceDigitalBaeum-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* Basic CSS Custom Properties */
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-4xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;

  --fontFamily-sans: "EliceDigitalBaeum-Bd", "MontserratVariable", system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "LotteMartDream", "Merriweather", "Georgia", Cambria,
    "Times New Roman", Times, serif;
  --fontFamily-code: "JetBrains Mono";

  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --font-code: var(fontFamily-code);

  --fontWeight-normal: 400;
  --fontWeight-bold: 700;
  --fontWeight-black: 900;
  --fontSize-root: 16px;

  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;

  --color-primary: #005b99;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;

  /* Neodgm CSS Custom Properties */
  --content-width: 1920px;
  --content-padding-h: 96px;
  --rgb-background: 32, 8, 64;
  --rgb-foreground: 255, 255, 255;
  --rgb-red: 255, 102, 0;
  --rgb-orange: 255, 153, 0;
  --rgb-yellow: 255, 204, 0;
  --rgb-lime: 204, 255, 0;
  --rgb-green: 102, 255, 0;
  --rgb-blue: 0, 204, 255;
  --rgb-purple: 153, 51, 255;
  --rgb-pink: 255, 51, 204;
  --rgb-cyan: 153, 255, 255;
  --color-background: rgb(32, 8, 64);
  --color-foreground: rgb(255, 255, 255);
  --color-dim: rgba(var(--rgb-foreground), 0.5);
  --color-red: rgb(255, 102, 0);
  --color-orange: rgb(255, 153, 0);
  --color-yellow: rgb(255, 204, 0);
  --color-lime: rgb(204, 255, 0);
  --color-green: rgb(102, 255, 0);
  --color-blue: rgb(0, 204, 255);
  --color-purple: rgb(153, 51, 255);
  --color-pink: rgb(255, 51, 204);
  --color-cyan: rgb(153, 255, 255);
  --rgb-control-base: var(--rgb-foreground);
  --rgb-control-text: var(--rgb-cyan);
  --color-cta-background: rgba(var(--rgb-control-base), 0.125);
  --color-cta-border: rgba(var(--rgb-control-base), 0.25);
  --color-cta-hover-background: rgba(var(--rgb-control-base), 0.25);
  --color-cta-hover-border: rgba(var(--rgb-control-base), 0.5);
  --color-cta-text: rgba(var(--rgb-cyan), 1);
  --color-logo-top-border: var(--color-cyan);
  --color-logo-right-text: var(--color-lime);
  --color-logo-face-top: #5d84a0;
  --color-logo-face-left: #3e4670;
  --color-logo-face-right: #2f2758;
  --color-logo-flakes-1: var(--color-pink);
  --color-logo-flakes-2: var(--color-orange);
  --color-logo-flakes-3: var(--color-yellow);

  /* Personal CSS Custom Properties  */
  --greyOpacity50: rgba(0, 23, 51, 0.02);
  --greyOpacity100: rgba(2, 32, 71, 0.05);
  --greyOpacity200: rgba(0, 27, 55, 0.1);
  --greyOpacity300: rgba(0, 29, 58, 0.18);
  --greyOpacity400: rgba(0, 29, 54, 0.31);
  --greyOpacity500: rgba(3, 24, 50, 0.46);
  --greyOpacity600: rgba(0, 19, 43, 0.58);
  --greyOpacity700: rgba(3, 18, 40, 0.7);
  --greyOpacity800: rgba(0, 12, 30, 0.8);
  --greyOpacity900: rgba(2, 9, 19, 0.91);
  --shadow-s: 0 0 4px 0 var(--greyOpacity100),
    0 4px 16px 0 var(--greyOpacity100);
  --shadow-m: 0 8px 16px 0 var(--greyOpacity200),
    0 4px 8px 0 var(--greyOpacity100);
  --shadow-l: 0 24px 40px 0 var(--greyOpacity50),
    0 16px 24px 0 var(--greyOpacity200), 0 0 8px 0 var(--greyOpacity100);

  /* CodeBlock CSS Custom Properties */
  --code-color-white: #ffffff;
  --code-color-black: #000000;
  --code-color-red: #f07178;
  --code-color-orange: #f78c6c;
  --code-color-yellow: #ffcb6b;
  --code-color-green: #c3e88d;
  --code-color-cyan: #89ddff;
  --code-color-blue: #82aaff;
  --code-color-paleblue: #b2ccd6;
  --code-color-purple: #c792ea;
  --code-color-brown: #916b53;
  --code-color-pink: #ff9cac;
  --code-color-violet: #bb80b3;
  --code-color-defaultAccent: #80cbc4;
  --code-color-background: #292d3e;
  --code-color-backgroundAlt: #292d3e;
  --code-color-contrastBorder: #292d3e;
  --code-color-comments: #676e95;
  --code-color-caret: #ffcc00;
  --code-color-findHighlight: #ffcc00;
  --code-color-foreground: #a6accd;
  --code-color-focusBorder: #ffffff;
  --code-color-guides: #4e5579;
  --code-color-lineNumbers: #3a3f58;
  --code-color-invisibles: #4e5579;
  --code-color-lineHighlight: #000000;
  --code-color-selection: #717cb450;
  --code-color-shadow: #00000030;
  --code-color-inputBackground: #333747;
  --code-color-inputForeground: #eeffff;
  --code-color-inputBorder: #ffffff10;
  --code-color-scrollbars: #a6accd20;
  --code-color-scrollbarsHover: #a6accd10;
  --code-color-statusbarForeground: #676e95;
  --code-color-sidebarBackground: #292d3e;
  --code-color-sidebarForeground: #676e95;
  --code-color-listHoverForeground: #ffffff;
  --code-color-listHoverBackground: #292d3e;
  --code-color-tabActiveForeground: #ffffff;
  --code-color-inactiveSelectionBackground: #00000030;
  --code-color-findMatchBackground: #000000;
  --code-color-findMatchHighlightBackground: #00000050;
  --code-color-findMatchHighlightBorder: #ffffff30;
  --code-color-highlight: #fffae2;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

footer {
  padding: var(--spacing-6) var(--spacing-2);
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
.post-list a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* code */

.blog-post section p code,
.blog-post section li code {
  font-family: var(--fontFamily-code);
  color: var(--code-color-black);
  background-color: var(--code-color-highlight);
  padding: 0px var(--spacing-1);
  text-shadow: none;
}

.gatsby-highlight .language-javascript,
.gatsby-highlight .language-js,
.gatsby-highlight .language-jsx,
.gatsby-highlight .language-ts,
.gatsby-highlight .language-tsx,
.gatsby-highlight .language-html,
.gatsby-highlight .language-text,
.gatsby-highlight .language-json,
.gatsby-highlight .language-yaml,
.gatsby-highlight .language-shell {
  text-shadow: none;
  color: var(--code-color-white);
  background-color: var(--code-color-background);
}

.gatsby-highlight pre code {
  font-family: var(--fontFamily-code);
  color: var(--color--heading);
}

.gatsby-highlight pre code .operator {
  color: var(--code-color-white);
  background-color: var(--code-color-background);
}

.gatsby-highlight pre code .keyword {
  color: var(--code-color-cyan);
}

.gatsby-highlight pre code .boolean {
  color: var(--code-color-pink);
}

.gatsby-highlight pre code .class {
  color: var(--code-color-yellow);
}

.gatsby-highlight pre code .classmember {
  color: var(--code-color-red);
}

.gatsby-highlight pre code .comment {
  color: var(--code-color-comments);
}

.gatsby-highlight pre code .cssclass {
  color: var(--code-color-yellow);
}

.gatsby-highlight pre code .cssid {
  color: var(--code-color-orange);
}

.gatsby-highlight pre code .cssproperties {
  color: var(--code-color-paleblue);
}

.gatsby-highlight pre code .csstag {
  color: var(--code-color-yellow);
}

.gatsby-highlight pre code .function {
  color: var(--code-color-blue);
}

.gatsby-highlight pre code .functioncall {
  color: var(--code-color-blue);
}

.gatsby-highlight pre code .identifier {
  color: var(--code-color-red);
}

.gatsby-highlight pre code .keyword {
  color: var(--code-color-cyan);
}

.gatsby-highlight pre code .storage {
  color: var(--code-color-purple);
}

.gatsby-highlight pre code .string {
  color: var(--code-color-green);
}

.gatsby-highlight pre code .stringescape {
  color: var(--code-color-foreground);
}

.gatsby-highlight pre code .type {
  color: var(--code-color-yellow);
}

.gatsby-highlight pre code .punctuation {
  color: var(--code-color-cyan);
}

.gatsby-highlight pre code .parameter {
  color: var(--code-color-red);
}

.gatsby-highlight pre code .otherkeyword {
  color: var(--code-color-orange);
}

.gatsby-highlight pre code .variable {
  color: var(--code-color-foreground);
}

.gatsby-highlight pre code .number {
  color: var(--code-color-orange);
}

.gatsby-highlight pre code .literal-property {
  color: var(--code-color-white);
}

.gatsby-highlight pre code .tag {
  color: var(--code-color-red);
}

.gatsby-highlight pre code .attr-name {
  color: var(--code-color-purple);
}

.gatsby-highlight pre code .attr-value {
  color: var(--code-color-green);
}

.gatsby-highlight pre code .property {
  color: var(--code-color-purple);
}

.gatsby-highlight pre code .boolean {
  color: var(--code-color-orange);
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */

.global-wrapper {
  margin: var(--spacing-0) auto;
  /* max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5); */
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-20);
}

.global-header {
  margin-bottom: var(--spacing-12);
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.slider {
  max-width: var(--maxWidth-full);
  background-color: var(--color-background);
  font-weight: var(--fontWeight-bold);
}

.slider-content {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-content-text {
  padding-right: var(--spacing-6);
  width: 65%;
}

.slider-content-text-title {
  font-size: var(--fontSize-4);
  background: linear-gradient(90deg, var(--color-blue), var(--color-lime));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  margin-bottom: var(--spacing-4);
}

.slider-content-text p {
  color: var(--color-accent);
  font-size: var(--fontSize-2);
}

.slider-content-text p strong {
  background: linear-gradient(90deg, var(--color-pink), var(--color-orange));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.slider-content-text p em {
  background: bottom/100% 0.125em no-repeat
    linear-gradient(90deg, var(--color-pink) 0, var(--color-orange) 100%);
  text-decoration: none;
}

.slider-content-img {
  width: 256px;
  height: 256px;
  background-color: transparent;
}

.categories-title {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-5) var(--spacing-5) var(--spacing-0) var(--spacing-5);
  font-size: var(--fontSize-4);
}

.categories-container {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-5) var(--spacing-5);
  display: grid;
  grid-template-columns: repeat(6, 64px);
  grid-template-rows: 64px;
  gap: 32px;
  font-size: var(--fontSize-0);
}

.category-container {
  text-align: center;
}

.category-container a {
  text-decoration: none;
}

.category-container {
  transform: translate3D(0, 0, 0);
  box-shadow: none;
}
.category-container:hover {
  transform: translate3D(0, -3%, 0);
  box-shadow: var(--shadow-l);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.category-container span {
  color: var(--color-heading);
  font-weight: var(--fontWeight-bold);
}
.category-container:hover span {
  color: var(--color-primary);
  transition: color 0.2s ease-in-out;
}

.post-list {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-0) var(--spacing-5);
}

.post-list li a {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-16);
}
.post-list li a .art-directed {
  transform: translate3D(0, 0, 0);
  box-shadow: none;
  min-width: 128px;
  min-height: 128px;
}
.post-list li a:hover .art-directed {
  transform: translate3D(0, -3%, 0);
  box-shadow: var(--shadow-l);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.post-list-item {
  margin-left: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-heading);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list li a:hover .post-list-item h2 {
  color: var(--color-primary);
  transition: color 0.2s ease-in-out;
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}
.blog-post {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
  /* font-family: var(--font-body); */
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
}

.blog-post .post-main-image {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post section > ul {
  padding-left: var(--spacing-4);
}

.blog-post section > ol {
  padding-left: var(--spacing-4);
}

.blog-post-nav ul {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
@media (max-width: 558px) {
  .slider-content {
    padding: var(--spacing-8) var(--spacing-0);
    flex-direction: column-reverse;
  }
  .slider-content-text {
    padding-right: var(--spacing-0);
    padding-top: var(--spacing-6);
    width: 80%;
  }
  .post-list li a {
    flex-direction: column;
  }
  .post-list-item {
    width: 99%;
    margin-left: var(--spacing-0);
    margin-top: var(--spacing-8);
  }
  .art-directed {
    width: 100%;
    height: 256px;
  }
  .post-list li a:hover .art-directed {
    transform: translate3D(0, -0, 0);
    box-shadow: none;
    transition: none;
  }
}
